@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-gray-900;
  @apply min-h-screen;
  /* overflow-y: scroll; */
  @apply w-screen overflow-x-hidden;
  @apply text-black dark:text-white;
}

.theme-icon {
  @apply w-5 h-5 inline-block text-white my-2;
}

.left-34 {
  left: 8.5rem;
}

.max-h-250px {
  max-height: 250px;
}

.h-screen-4by6 {
  height: 83.33vh;
}

.navbar-item {
  @apply px-3 py-2 rounded-md text-base font-medium;
  @apply text-gray-500  hover:text-gray-800 dark:hover:text-white;
}

.active-navbar-item {
  @apply bg-gray-900 text-white dark:bg-gray-100 dark:text-black;
  @apply hover:text-white dark:hover:text-white;
}
