@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #10b981;
}

::selection {
  background: var(--accent-color);
  @apply text-white;
}

::-moz-selection {
  background: var(--accent-color);
  @apply text-white;
}

body {
  @apply bg-white dark:bg-gray-900;
  @apply min-h-screen;
  @apply w-screen;
  @apply text-black dark:text-white;
  @apply transition-colors duration-700;
}

.theme-icon {
  @apply w-5 h-5 inline-block text-white my-2;
}

.left-34 {
  left: 8.5rem;
}

.max-h-250px {
  max-height: 250px;
}

.h-screen-4by6 {
  height: 83.33vh;
}

.h-screen-90 {
  height: 90vh;
}

.navbar-item {
  @apply px-3 py-2 text-base font-medium;
  @apply text-gray-500 dark:text-gray-200 hover:text-gray-900 dark:hover:text-white;
  @apply md:hover:border-black border-b-4 border-transparent md:dark:hover:border-white;
}

.active-navbar-item {
  @apply md:border-black md:dark:border-gray-100 font-bold;
  /* @apply hover:text-white dark:hover:text-white; */
}

.active-navbar-item-mobile {
  background-color: var(--accent-color);
  @apply text-white rounded;
}

.writing-mode-vertical {
  writing-mode: vertical-lr;
}

.subtitle {
  @apply text-gray-500 dark:text-gray-400;
}

.min-w-200 {
  min-width: 200px;
}

.app-link {
  @apply text-green-500 hover:underline;
}
